<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x1_dirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>1x1_dirt_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>1x1_grassland.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>1x1_street_curve_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>1x1_street_curve_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,38},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>1x1_street_curve_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>1x1_street_curve_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>1x1_street_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>1x1_street_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>1x1_windmill.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,286},{64,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,165}}</string>
                <key>sourceSize</key>
                <string>{64,165}</string>
            </dict>
            <key>2x2_factory.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{128,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>2x2_firestation.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,38},{128,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,93}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>2x2_policestation.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,38},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>2x3_factory_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,136},{160,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,137}}</string>
                <key>sourceSize</key>
                <string>{160,137}</string>
            </dict>
            <key>2x3_house_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,286},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>3x2_house_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,136},{160,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,148}}</string>
                <key>sourceSize</key>
                <string>{160,148}</string>
            </dict>
            <key>3x2_house_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tiles2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a4c0a24658f2f1ccec01a3ae5f8596e:dbee970d59738403072e096b2172cfeb:c852619668ea0b6b4402a6b54236ec15$</string>
            <key>textureFileName</key>
            <string>Tiles2.png</string>
        </dict>
    </dict>
</plist>
